/*
SPDX-FileCopyrightText: 2024 Olivier Charvin <git@olivier.pfad.fr>
SPDX-FileCopyrightText: 2020 Simple.css (Kev Quirk)

SPDX-License-Identifier: MIT
*/
:root {
  --text: #000;
  --accent: rgb(0, 125, 156);
  --code: #000;
  --border: #c6c8ca;
  --comment: #3a6e11;

  --html-bg: rgb(255, 255, 255);
  --sticky-bg: rgba(255, 255, 255, 0.7);
  --accent-bg: #f5f7ff;
  --target-bg: #fef9c3;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text: rgb(220, 220, 220);
    --accent: rgb(80, 183, 224);
    --code: #fff;
    --border: #6e7072;
    --comment: #5fda64;

    --html-bg: rgb(32, 34, 36);
    --accent-bg: #2b2b2b;
    --sticky-bg: rgba(32, 34, 36, 0.7);
    --target-bg: #493d1e;
  }
}
html {
  background-color: var(--html-bg);
  scroll-padding-top: 3.5rem;
  scroll-behavior: smooth;
  color: var(--text);
  overflow-wrap: break-word;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font: 100%/1.5rem ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1.5rem;
}
p,
details,
ul {
  margin: 0.75rem 0;
}
a {
  text-decoration: none;
  color: var(--accent);
}
a:hover {
  text-decoration: underline;
}
:target {
  background-color: var(--target-bg);
}
:target:not(summary) {
  box-shadow: 0 0 0 0.5rem var(--target-bg);
  border-radius: 0.1rem;
}

/* code blocks */
pre {
  background-color: var(--accent-bg);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  tab-size: 4;
  overflow: auto;
}
pre span {
  color: var(--code);
}

pre .comment {
  color: var(--comment);
}
code ~ pre {
  margin-top: 0;
}

/* examples */
summary {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
}
details > p {
  padding: 0 0.75rem;
}
summary:not(:hover) .permalink {
  opacity: 0.01; /* trick to prevent having to double-tap on iOS*/
}
details {
  border: 1px solid var(--border);
  border-radius: 5px;
}
details[open] > summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* headers */
h1,
h2,
h3 {
  margin: 1rem 0 0.5rem;
  line-height: 1.1;
}
h2:not(:hover) .permalink,
h3:not(:hover) .permalink {
  visibility: hidden;
}
h2 + ul,
h2 + p,
h3 + p {
  margin-top: 0.5rem;
}

/* lists */
ul,
ol {
  padding-left: 2rem;
}
li > ul {
  margin: 0.25rem 0;
  margin-left: -1rem;
}

/* footer */
footer {
  border-top: 1px solid var(--border);
  text-align: center;
  padding: 2rem 0 1rem;
  font-size: 0.8rem;
  margin-top: 4rem;
}
footer a {
  display: inline-block;
}

/* tables (sub-packages)*/
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: start;
}
th,
td {
  padding: 0.5rem;
}
td {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
tbody tr:nth-child(2n + 1) {
  background-color: var(--accent-bg);
}

/* top nav */
.module-nav {
  display: flex;
  flex-wrap: wrap;
}
.module-nav > code,
.module-nav > nav {
  text-align: right;
  flex-grow: 1;
}
.module-nav.footer {
  margin-top: 4rem;
  word-break: break-word;
}
.module-nav.footer + footer {
  margin-top: 0;
}
.module-nav a[href="#top"]:not(:hover) {
  color: var(--text);
}
.module-nav a[href="#top"]:not(:hover) span {
  opacity: 0;
}

.corner-forge-link {
  position: relative;
}
.corner-forge-link:not(:hover) > a {
  visibility: hidden;
}
.corner-forge-link > a {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.sticky-header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border);
  z-index: 42;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  background-color: var(--sticky-bg);
  margin: auto -1.5rem;
  padding: 0 1.5rem 0.25rem;
}
.sticky-header > div,
.sticky-header > nav {
  white-space: nowrap;
  overflow-y: auto;
}

abbr.hover-debug:hover:not(:has(*:hover)) {
  background-color: var(--target-bg);
}
